**/node_modules
code/HoneyComb_BackEnd/classes/artifacts/HoneyComb_Web_exploded/WEB-INF/classes/action/GetAuthorAction.class
*.class
*.class
*.class
code/HoneyComb_BackEnd/classes/artifacts/HoneyComb_Web_exploded/WEB-INF/classes/action/GetAuthorAction.class
code/HoneyComb_BackEnd/classes/artifacts/HoneyComb_Web_exploded/WEB-INF/classes/action/GetPaperAction.class
code/HoneyComb_BackEnd/classes/artifacts/HoneyComb_Web_exploded/WEB-INF/classes/action/GetAuthorAction.class
*.class
*.class
