<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">


    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
          destroy-method="close" p:driverClass="com.mysql.cj.jdbc.Driver"
          p:jdbcUrl="jdbc:mysql://178.128.185.93:3306/honeycomb?serverTimezone=UTC&amp;useSSL=true&amp;useUnicode=true&amp;characterEncoding=UTF-8" p:user="remote"
          p:password="honeycomb" p:maxPoolSize="40" p:minPoolSize="1"
          p:initialPoolSize="5" p:maxIdleTime="20"/>

    <bean id="sessionFactory"
          class="org.springframework.orm.hibernate5.LocalSessionFactoryBean"
          p:dataSource-ref="dataSource">
        <property name="mappingResources">
            <list>
                <value>model/UserEntity.hbm.xml</value>
                <value>model/PaperEntity.hbm.xml</value>
                <value>model/AuthorEntity.hbm.xml</value>
                <value>model/PaperSmall.hbm.xml</value>
            </list>
        </property>
        <!-- Hibernate SessionFactory -->
        <property name="hibernateProperties">
            <value>
                hibernate.dialect=org.hibernate.dialect.MySQL5Dialect
                hibernate.hbm2ddl.auto=update
                hibernate.show_sql=false
                hibernate.format_sql=true
            </value>
        </property>
    </bean>

    <!-- DAO Bean -->
    <bean id="userDao" class="dao.impl.UserDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="paperDao" class="dao.impl.PaperDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <!-- Service -->
    <bean id="appService" class="service.impl.AppServiceImpl">
        <property name="userDao" ref="userDao"/>
        <property name="paperDao" ref="paperDao"/>
    </bean>

    <bean id="transactionManager"
          class="org.springframework.orm.hibernate5.HibernateTransactionManager"
          p:sessionFactory-ref="sessionFactory"/>

    <tx:advice id="txAdvice" transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="get*" read-only="true"/>
            <tx:method name="*"/>
        </tx:attributes>
    </tx:advice>
    <aop:config>
        <!-- appService Bean -->
        <aop:pointcut id="beanPointcut" expression="bean(appService)"/>
        <aop:advisor advice-ref="txAdvice" pointcut-ref="beanPointcut"/>
    </aop:config>


    <!--提供自动注入配置的扫描包-->
    <context:component-scan base-package="data"/>

    <!-- 导入mongodb的配置文件 -->
    <import resource="mongo.xml" />

    <context:annotation-config />
</beans>